sudo: false
language: node_js
services: mongodb
node_js:
  - 'stable'
  - '0.12'
  - '0.11'
  - '0.10'
before_install:
  - npm install
  - npm install -g mocha
  - npm install gulp
script: mocha test
